.profile-image{
    width: 200px;
    height: 200px;
    background-image: url("img/nexus.jpeg");
    background-size: cover;
    /* background-color: red; */
    border-radius: 50%;
    margin: 0 auto 15px;
}
body{
    background-color: rgb(216, 229, 244);
}
div{
     width: 80%;
    margin: auto;
}
h4{
    margin-top: 30px;
    font-size: 20;

}
.profile-card{
    
    text-align: center;
    margin-top: 80px;
    width: 700px;
    height: 1000px;
}
button{
    width: 700px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    border: none;
    text-align: center;
    position: relative; 
    align-items: center; /* توسيط العناصر عمودياً */
    justify-content: center;


}
@media (max-width: 768px) {
    .profile-card {
        width: 90%;
        height: auto;
    }
    button {
        width: 100%;
    }
    .profile-image {
        width: 150px;
        height: 150px;
    }
}
a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    width: 100px;
    margin-top: 20px;

}
i {
    font-size: 30px; 
    float: left;
    margin-left: 20px;
}
